# Folders
.vscode
coverage
node_modules
sharepoint
src
temp
config
typings
lib/webparts
assets
dist
docs
scripts
.circleci

# Files
*.csproj
.git*
.yo-rc.json
.editorconfig
gulpfile.js
tsconfig.json
yarn.lock
*.tgz
sonar-project.properties
gulpfile.sonarqube.js
tslint.json
